[submodule "apt"]
	path = apt
	url = https://github.com/OpenDroneMap/odm_data_apt.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/OpenDroneMap/odm_data_benchmark.git
[submodule "caliterra"]
	path = caliterra
	url = https://github.com/OpenDroneMap/odm_data_caliterra.git
[submodule "copr"]
	path = copr
	url = https://github.com/OpenDroneMap/odm_data_copr.git
[submodule "glam"]
	path = glam
	url = https://github.com/OpenDroneMap/odm_data_glam.git
[submodule "langley"]
	path = langley
	url = https://github.com/OpenDroneMap/odm_data_langley.git
[submodule "pacifica"]
	path = pacifica
	url = https://github.com/OpenDroneMap/odm_data_pacifica.git
[submodule "seneca"]
	path = seneca
	url = https://github.com/OpenDroneMap/odm_data_seneca.git
[submodule "odm_boruszyn_kap"]
	path = boruszyn_kap
	url = https://github.com/merkato/odm_boruszyn_kap
[submodule "odm_data_lewis"]
	path = odm_data_lewis
	url = https://github.com/OpenDroneMap/odm_data_lewis
[submodule "odm_data_bellus"]
	path = odm_data_bellus
	url = https://github.com/OpenDroneMap/odm_data_bellus
[submodule "odm_data_rv_nir"]
	path = odm_data_rv_nir
	url = https://github.com/OpenDroneMap/odm_data_rv_nir
